# Local Environment Variables
.env
.env.*
!.env.example
backend/.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.venv/
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
out/

